:host {
  display: block;
}

.swap-active {
  opacity: 1 !important;
  color: #fbf9f1 !important;
  transform: none;
  transition: none;
}

.swap-leaving {
  opacity: 1 !important;
  color: #fbf9f1 !important;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}